body {
  background: white;
  width: 1440px;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: aquamarine;
  margin: auto;
}

.container {
  display: flex;
  /* margin: 10px; */
  background-color: white;
}

.side-content {
  flex: 1;
}
.right-side,
.register-form {
  flex: 2;
}

.coffee-icon {
  margin: 20px 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #0b132a;
}

.signup {
  margin-left: 410px;
  width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
}

.signin {
  margin-left: 320px;
  width: 233px;
  height: 41px;
  font-family: "Rubik";
  font-style: small;
  font-weight: 700;
  font-size: 25px;
  line-height: 41px;

  color: #6a4029;
}

.label-input {
  margin-left: 150px;
}

input[type="text"],
select {
  width: 76%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label[for="email"],
[for="pass"],
[for="num"],
select {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: #4f5665;
}

input[type="submit"],
select {
  width: 466px;
  height: 45px;
  margin-left: -45px;
  margin-top: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -18px rgba(0, 0, 0, 0.75);
}
.oauth {
  width: 466px;
  height: 45px;
  margin: auto;
  margin-top: 25px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  box-shadow: -1px 3px 25px -18px rgba(254, 221, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -18px rgba(254, 221, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -18px rgba(254, 221, 0, 0.75);
}

.forgotpw {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #6a4029;
}

#submit {
  margin-left: 45px;
  margin-top: 10px;
}

.google-btn {
  margin-left: 160px;
}

.member-card {
  display: flex;
}

.member-card {
  box-sizing: border-box;
  position: absolute;
  width: 1140px;
  height: 163px;
  left: 150px;
  top: 978.22px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: -70px;
  box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -12px rgba(0, 0, 0, 0.75);
}

.member-desc {
  padding: 10px;
}

.getmember {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.createnow {
  width: 200px;
  height: 60px;
  margin-left: 400px;
  margin-top: 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  box-shadow: 2px -2px 23px -12px rgba(255,237,0,0.75);
-webkit-box-shadow: 2px -2px 23px -12px rgba(255,237,0,0.75);
-moz-box-shadow: 2px -2px 23px -12px rgba(255,237,0,0.75);
}

.letsjoin {
  /* margin-top: -20px;
    margin-left: 30px; */
  /* position: absolute; */
  width: 410px;
  height: 16px;
  left: 220px;
  margin-top: -25px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

footer {
  background-color: #f8f8f8;
  display: flex;
  margin-top: 0px;
}

#desc {
  margin-top: 40px;
  margin-left: 45px;
}

.about-coffe {
  /* display: flex; */
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  padding-left: 100px;
  padding-top: 50px;
}

.socmed {
  margin-left: -5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 575px;
  margin-top: 80px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 30px; */
  /* identical to box height, or 188% */

  color: #4f5665;
}
.engagement {
  display: flex;
  margin-left: 80px;
  margin-top: 80px;
  flex-direction: column;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 30px; */

  color: #4f5665;
}
img {
  vertical-align: middle;
}
span {
  font-weight: bolder;
  font-size: 17px;
}

.coffee-desc {
  font-size: 13px;
}

.socmed-url {
  color: #afb5c0;
  font-size: small;
}

.product {
  font-weight: bold;
}

.engage {
  font-weight: bold;
}
